<%= form_for(@dispensary_menu) do |f| %>
  <% if @dispensary_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dispensary_menu.errors.count, "error") %> prohibited this dispensary_menu from being saved:</h2>

      <ul>
      <% @dispensary_menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dispensary_id %><br>
    <%= f.number_field :dispensary_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
